@font-face {
  font-family: "Agdasima-Regular";
  src: local("Agdasima-Regular"),
    url("../assets/fonts/Agdasima/Agdasima-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Agdasima-Bold";
  src: local("Agdasima-Bold"),
    url("../assets/fonts/Agdasima/Agdasima-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
:root {
  --th-bg-primary: #151515;
  --th-bg-secondary: #d9d9d9;
  --th-bg-dark: black;
}
* {
  font-family: "Agdasima-Regular";
  font-size: 14px;
}
.internal-theme-font * {
  font-family: "Poppins" !important;
}
.th-fs-1 {
  font-size: calc(72px);
}
.th-fs-2 {
  font-size: calc(34px);
}
.th-fs-3 {
  font-size: calc(24px);
}
.th-fw-bold {
  font-weight: bold;
}
.th-fw-regular {
  font-weight: 400;
}
.th-bg-primary {
  background-color: var(--th-bg-primary) !important;
}
.th-bg-secondary {
  background-color: var(--th-bg-secondary) !important;
}
.th-bg-dark {
  background-color: var(--th-bg-dark) !important;
}
.td-ellipsis {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navbar-toggler:active,
.navbar-toggler:focus {
  box-shadow: none !important;
}
.modal-body-title {
  font-family: "Agdasima-Bold";
  text-transform: uppercase;
  font-size: 1.5rem;
  position: relative;
  padding-bottom: 1rem;
}
.modal-body-title::before {
  font-family: "Agdasima-Bold";
  width: 5px;
  height: 2rem;
  background-color: black;
  content: " ";
  position: absolute;
  left: 0px;
}
